.compatibility-check {
    width: 900px;
}

.compatibility-check__wrapper {
    height: auto;
    border-radius: 12px;
}

.compatibility-check__label-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.compatibility-check__filters-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.compatibility-check__label {
    font-family: var(--font-family);
    font-weight: 600;
}

.faCheckCircle {
    color: green;
    font-size: 24px;
    vertical-align: middle;
}

.faTimesCircle {
    color: red;
    font-size: 24px;
    vertical-align: middle;
}

.compatibility-check__hint {
    font-family: var(--font-family);
    font-weight: 300;
    line-height: 133%;
    font-size: 14px;
    padding: 0 0 5px 10px;
}

.compatibility-check__select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}