.filters-button__button {
    font-family: var(--third-family) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background: #0B438C !important;
    color: white !important;
    text-transform: capitalize !important;
}

.filters-button__button:hover {
    background: #1054ab !important;
}

.filters-button__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-button__icon {
    font-size: 24px !important;
}
