:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Raleway", sans-serif;
    --background: #0B438C;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MuiTableHead-root {
    background: var(--background) !important;
    color: white;
}

.MuiTableCell-head {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: white !important;
    padding-left: 30px !important;
}

.MuiTableCell-body {
    font-family: var(--font-family) !important;
    font-size: 16px !important;
    padding-left: 30px !important;
}

.MuiCircularProgress-root {
    background: var(--background) !important;
}