.edit-button {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 20px 40px;
}

.edit-button__button {
    font-family: var(--third-family) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background: #0B438C !important;
    color: white !important;
    text-transform: capitalize !important;
}

.edit-button__button:hover {
    background: #1054ab !important;
}

.edit-button__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-button__icon {
    font-size: 18px !important;
    margin-right: 5px;
}

@media (max-width: 1280px) {
    .edit-button {
        width: 900px;
        padding: 20px 0;
    }
}

@media (max-width: 980px) {
    .edit-button {
        width: 400px;
        padding: 20px 0;
    }
}
