.edit-database__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.edit-database__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.edit-database__tables-select {
    margin: 80px 0 50px;
}

.edit-database__hint {
    font-family: var(--font-family);
    font-weight: 300;
    line-height: 133%;
    font-size: 14px;
    padding: 0 0 5px 10px;
}

.edit-database__text-fields-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 40px;
}

.edit-database__text-fields-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-database__text-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.edit-database__text-field-add {
    width: 250px !important;
    margin: 0 !important;
    flex-shrink: 0;
}

.edit-database__table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 50px 0 40px;
}

.edit-database__paper {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;

}

.edit-database__table-cell {
    text-align: center !important;
}

.edit-database__text-field {
    width: 200px !important;
}

.edit-database__table-buttons {
   display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-database__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-database__error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 930px) {
    .edit-database__table-container {
        width: 100%;
        padding: 0 40px;
    }
}

@media (max-width: 480px) {
    .edit-database__table-container {
        width: 480px;
    }
}