.table-container {
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.MuiTableHead-root {
    background-color: #0B438C;
    color: white;
}

.MuiTableCell-head {
    font-family: var(--font-family) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: white !important;
    padding-left: 30px !important;
}

.MuiTableCell-body {
    font-family: var(--font-family) !important;
    font-size: 16px !important;
    padding-left: 30px !important;
}




