.сompatibility-сheck {
    width: 1000px;
    margin: 70px 0 0;
}

.сompatibility-сheck__wrapper {
    background: white;
    height: auto;
    border-radius: 15px;
    border: 1px solid #e2e4e5;
}

.сompatibility-сheck__label-wrapper {
    padding: 30px 0 0 40px;
}

.сompatibility-сheck__label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #242426;
}

.сompatibility-сheck__hint {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 133%;
    color: #575f6e;
    padding-left: 10px;
}

.сompatibility-сheck__select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 30px 40px;
}