.filters-sidebar__typography {
    font-family: var(--third-family) !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}

.filters-sidebar__label {
    display: flex;
    margin: 15px 0 15px 10px;
}

.filters-sidebar__typography-component {
    font-family: var(--third-family) !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

