.filters-sidebar__title {
    display: flex;
    margin-bottom: 10px;
}

.filters-sidebar__title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-sidebar__typography {
    font-family: var(--third-family) !important;
    font-size: 24px !important;
    font-weight: 700 !important;

}

.filters-sidebar__icon {
    font-size: 30px !important;
    margin-right: 5px;
}

.filters-sidebar__accordion {
    /*border-radius: 10px !important;*/
}
