.filters-reset {
    margin-top: 20px;
}

.filters-reset__button {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--third-family) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background: #0B438C !important;
    color: white !important;
}

.filters-reset__button:hover {
    background: #1269d3 !important;
}
